[Desktop Entry]
Type=Application
Version=1.0
Name=StopWaydroid
Comment=Stop Waydroid
Exec=/usr/bin/pkexec /usr/bin/bash -c '/usr/bin/waydroid session stop && /usr/bin/waydroid container stop'
Terminal=true
Icon=waydroid
Categories=X-WayDroid-App;
